.bg-image{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../Assests/loginBg.svg') !important;
    background-position: center;
    background-size: cover;
}

.active{
    border-radius: 5px;
    color: white !important;
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}